@font-face {
   font-family: 'EncodeSansCondensed-Thin';
   font-display: swap;
   src: url('file:///C:/Users/gb/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-12_162245/fonts/EncodeSansCondensed-Thin/font.ttf');
}
