@font-face {
   font-family: '500';
   font-display: swap;
   src: url('500/font.ttf');
}
@font-face {
   font-family: 'Coda-Regular';
   font-display: swap;
   src: url('Coda-Regular/font.ttf');
}
@font-face {
   font-family: 'AdventPro-SemiBold';
   font-display: swap;
   src: url('AdventPro-SemiBold/font.ttf');
}
@font-face {
   font-family: 'EncodeSansCondensed-Thin';
   font-display: swap;
   src: url('EncodeSansCondensed-Thin/font.ttf');
}
@font-face {
   font-family: 'Abel-Regular';
   font-display: swap;
   src: url('Abel-Regular/font.ttf');
}
